<ete-header (itemSearched)="filterItems($event)" [editorMode]="editorMode" (modeChange)="switchMode()"></ete-header>

<div id="bottom-container">
    <ete-model-list class="float-left" #selectedItem
        (itemSelected)="switchShownModel($event)" #itemToAdd (itemToAdd)="addItemToEditor(itemToAdd.currentItem)" [itemlist]="itemList" [currentItem]="shownModel" [editormode]="editorMode"></ete-model-list>
    

    @if (editorMode){
    <ete-topology-editor [topologyItems]="topologyItems" [timestamp]="timestamp"></ete-topology-editor>
    }
    @else {

    <ete-detailed-view [shownModel]="shownModel"></ete-detailed-view>   

    }
</div>