<ete-header (itemSearched)="filterItems($event)"></ete-header>

<div id="bottom-container">
    <ete-model-list class="float-left" #selectedItem
        (itemSelected)="switchShownModel(selectedItem.currentItem)" #itemToAdd (itemToAdd)="addItemToEditor(itemToAdd.currentItem)" [itemlist]="itemList" [currentItem]="shownModel"></ete-model-list>
    
    @if (editorMode){
    <ete-topology-editor [topologyItems]="topologyItems" [timestamp]="timestamp"></ete-topology-editor>
    }
    @else {
    <div>{{ shownModel.name }}</div>
    }
</div>