<div id="editor" cdkDragBoundary>
    @if(topologyItems){    
        @for (topologyItem of topologyItems; track topologyItem.id) {
                <div class="topology-item" cdkDrag cdkDragBoundary="#editor" (cdkDragEnded)="logDrop($event.distance,topologyItem)" [cdkDragFreeDragPosition]="topologyItem.position">
                    <button type="button" class="connection-point" id="connection-point-0">O</button>
                    <button type="button" class="connection-point" id="connection-point-1">O</button>
                    <button type="button" class="connection-point" id="connection-point-2">O</button>
                    <button type="button" class="connection-point" id="connection-point-3">O</button>
                    <h3>{{topologyItem.content.id}}</h3>
                    <p>{{topologyItem.content.name}}</p>
                    <button type="button" (click)="removeItem(topologyItem)">
                        <mat-icon aria-hidden="false" aria-label="delete from editor">
                            delete
                        </mat-icon>
                    </button>
                </div>
    }
}