<div id="editor" cdkDragBoundary>
    @if(topologyItems){    
        @for (topologyItem of topologyItems; track topologyItem.id) {
                <div class="topology-item" cdkDrag cdkDragBoundary="#editor" (cdkDragEnded)="logDrop($event.distance,topologyItem)" [cdkDragFreeDragPosition]="topologyItem.position" (cdkDragMoved)="redraw(topologyItem.id)">
                    <button type="button" class="connection-point point-0" id="{{topologyItem.id}}-0" (click)="draw(0,topologyItem.id)"></button>
                    <button type="button" class="connection-point point-1" id="{{topologyItem.id}}-1" (click)="draw(1,topologyItem.id)"></button>
                    <button type="button" class="connection-point point-2" id="{{topologyItem.id}}-2" (click)="draw(2,topologyItem.id)"></button>
                    <button type="button" class="connection-point point-3" id="{{topologyItem.id}}-3" (click)="draw(3,topologyItem.id)"></button>
                    <p>{{topologyItem.content.name}}</p>
                    <button type="button" (click)="removeItem(topologyItem)">
                        <mat-icon aria-hidden="false" aria-label="delete from editor">
                            delete
                        </mat-icon>
                    </button>
                </div>
    }
}