@import "../../styles.scss";

:host {
    position: relative;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}


.detailsbox {
    list-style: none;
    padding: 0.1em 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}




