@import "../../styles.scss";

:host {
    position: relative;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}


.listbox {
    list-style: none;
    padding: 0.1em 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}

.option:not(:last-child) {
    margin-bottom: 1rem;
}

.option[aria-selected="true"] mat-card {
    background-color: $light-gray !important;
}