/* You can add global styles to this file, and also import other style files */

$middle-gray: #c9c9c9;
$light-gray: #f0f0f0;

@for $width from 1 through 10 {
    .w-#{$width*10} {
        width: $width*10%;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }