@import "../../styles.scss";

@mixin padding-tb($padding) {
    padding-top: $padding;
    padding-bottom: $padding;
}

.toolbar-padding {
    @include padding-tb(3rem);
}


#toolbar-row-one {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#nav-bar {
  background-color: $light-gray;
  display: flex;
  align-items: center;
  min-height: fit-content;
  @include padding-tb(2.2rem);
}

.item-search {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

#search_icon {
  color: black;
}

#page-header {
    font-size: 2em;
}